<nav>
   <h1 id="logo">Travel'oori</h1>
   <ul>
      <li><a href="#benefices">Benefits</a></li>
      <div class="centert">
         <button>
            <li id="show-signin">Inscription</li>
         </button>
      </div>
      <div class="centert">
         <button>
            <li id="show-login">Connexion</li>
         </button>
      </div>
   </ul>
</nav>