{% extends 'base.html.twig' %}

{% block html %}
<html lang="en">      

{% block head %}
 

   <head>
      {% block stylesheets %}
      {% endblock %}
      {% block javascripts %}
      <script src="{{ asset('assets/js/login-popup.js') }}" defer></script>
      {% endblock %}
   </head>
{% endblock %}


      {% block body %}
<body>

     <header class="main-head">
        <!-- nav bar-->
      {% include "_partials/_nav.html.twig" %}
         <!-- pop up login-->
      {% include 'security/login.html.twig' %}
         <!-- fin pop up login-->

         <!-- pop up signup-->
      {% include 'registration/register.html.twig' with {'formRegister': formRegister} %} 
         <!-- fin pop up signup-->
      </header>
      <section class="hero">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Start travelling to world best places at an affordable price with Travel'oori
            <br />
            check it bellow 
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section class="hero-2">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Discover Florence, a beautiful and enchanting city that captivates with its artistic beauty, 
            <br />
            historic architecture, and romantic atmosphere.
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section id="benefices">
         <header class="benefices-head">
         </header>
      </section>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
      <script src="{{ asset('assets/js/auth.js') }}" defer></script>

    </body>
      {% endblock %}

</html>

{% endblock %}
