{% extends 'base.html.twig' %}

{% block html %}
<html lang="en">      

{% block head %}
 

   <head>
          <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
         name="Travelly"
         content="Travelly is an agency that helps you to find your dream travel"
         />
      <meta name="robots" content="index,follow" />
      <link rel="icon" href="{{ asset('/icons/voyages.svg') }}" />
      {% block stylesheets %}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
         rel="stylesheet"
         />
      {% endblock %}
      {% block javascripts %}
      <script src="{{ asset('assets/js/login-popup.js') }}" defer></script>
      {% endblock %}
   </head>
{% endblock %}


      {% block body %}
<body>

     <header class="main-head">
           {% include "_partials/_nav.html.twig" %}
         <!-- pop up login-->
      {% include 'security/login.html.twig' %}
         <!-- fin pop up login-->

         <!-- pop up signup-->
      {% include 'registration/register.html.twig' with {'formRegister': formRegister} %} 
         <!-- fin pop up signup-->
      </header>
      <section class="hero">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Start travelling to world best places at an affordable price with Travel'oori
            <br />
            check it bellow 
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section class="hero-2">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Discover Florence, a beautiful and enchanting city that captivates with its artistic beauty, 
            <br />
            historic architecture, and romantic atmosphere.
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section id="benefices">
         <header class="benefices-head">
         </header>
      </section>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{{ asset('assets/js/auth.js') }}"></script>

    </body>
      {% endblock %}

</html>

{% endblock %}
