@charset "UTF-8";
/* GLOBAL STYLE */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
p,
input {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
  display: flex;
}

/*button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}  

/* NAV SECTION WITH HERO */

.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  text-align: left;
}

@media screen and (max-width: 934px) {
  html {
    font-size: 45%;
  }

  #logo {
    text-align: center;
    padding: 2rem;
  }
}

.hero, 
.hero-2 {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/maldives.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/florence.jpg")!important;
}

.hero h3 {
  padding: 5rem;
}

/* Bouton spécial */
body {
  font-size: 16px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Helvetica", "Arial", sans-serif; 
  text-align: center;
  background-color: #f8faff;
}


.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} 

/* bubbly zindex */
.bubbly-button {
  z-index: 0;
}

/* pop-up login ici */
.pop-up {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  color: black;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.centert button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight:600;
  color: #e60074;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.pop-up {
  position: absolute;
  top:-150%;
  left:50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.pop-up.active {
  top:50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.pop-up .close-btn {
  position: absolute;
  right: 10px;
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.pop-up .form h2 {
  text-align: center;
  color: #3e3f5e;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.pop-up .form .form-element {
  margin: 15px 0px;
  text-align: left;
}

.pop-up .form .form-element label {
  font-size: 14px;
  color: #838080;
}

.pop-up .form .form-element input[type="email"]::placeholder,
.pop-up .form .form-element input[type="password"]::placeholder {
  color: #cecccc;
}

.pop-up .form .form-element input[type="email"],
.pop-up .form .form-element input[type="password"] {
  font-size: 15px;
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 7px;
  outline: none;
  border: 1px solid #dedeea;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(222, 222, 234);
    border-right-color: rgb(222, 222, 234);
    border-bottom-color: rgb(222, 222, 234);
    border-left-color: rgb(222, 222, 234);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  border-radius: 1px solid #aaa;
  border-radius: 5px;
}

.pop-up .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.pop-up .form .form-element button {
  background: #ff0081;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  
}

.pop-up .form .form-element a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

/* pop-up2 sign-in css*/

/* pop-up login ici */
.pop-up2 {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  color: black;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.centert button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight:600;
  color: #e60074;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.pop-up2 {
  position: absolute;
  top:-150%;
  left:50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.pop-up2.active {
  top:50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.pop-up2 .close-btn2 {
  position: absolute;
  right: 10px;
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.pop-up2 .form h2 {
  text-align: center;
  color: #3e3f5e;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.pop-up2 .form .form-element {
  margin: 15px 0px;
  text-align: left;
}

.pop-up2 .form .form-element label {
  font-size: 14px;
  color: #838080;
}

.pop-up2 .form .form-element input[type="email"]::placeholder,
.pop-up2 .form .form-element input[type="password"]::placeholder {
  color: #cecccc;
}

.pop-up2 .form .form-element input[type="email"],
.pop-up2 .form .form-element input[type="password"] {
  font-size: 15px;
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 7px;
  outline: none;
  border: 1px solid #dedeea;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(222, 222, 234);
    border-right-color: rgb(222, 222, 234);
    border-bottom-color: rgb(222, 222, 234);
    border-left-color: rgb(222, 222, 234);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  border-radius: 1px solid #aaa;
  border-radius: 5px;
}

.pop-up2 .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.pop-up2 .form .form-element button {
  background: #ff0081;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  
}

.pop-up2 .form .form-element a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}
